:root {
    --bg-color: #2C3333;
    --cx-color: #395B64;
    --tx-color: #E5E5CB;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--tx-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    font-weight: bold;
    font-size: 5em;
    text-transform: uppercase;
    margin: 50px auto 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 469px;
    padding: 5px;
    margin: 0 auto 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.btn {
    width: 115px;
    height: 30px;
    background-color: var(--cx-color);
    font-family: 'Montserrat', sans-serif;
    color: var(--tx-color);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
    cursor: pointer;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    background-color: var(--cx-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.check {
    background-color: var(--tx-color);
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: none;
}

.check:active {
    background-color: transparent;
    background-image: url(./assets/check-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-delete {
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}

.delete-icon {
    height: 16px;
}
